<!-- this css file gets inlined by the build script to make standalone html5 output
thats why it has a style tag... -->

<style type="text/css">
body
{
    background: url('sample.png') repeat white;
}


.page-header h1, .rsa-red-text { color: #ab1c19; }
.rsa-red-bg { background-color: #ab1c19; }


.h1, h1 {
    font-size: 24px;
}
.h2, h2 {
    font-size: 20px;
}
.h3, h3 {
    font-size: 18px;
}
.h4, h4 {
    font-size: 14px;
}
.h5, h5 {
    font-size: 12px;
}
.h6, h6 {
    font-size: 100%;
    font-weight: bold;
}


blockquote
{
    line-height: 120%;
    font-size: 90%;
    border-left: 3px solid gray;
    padding-left: 1em;
}

.img-right 
{
    float: right;
    background-color: #d3d3d3;
    padding: .25em;
    font-weight: bold;
    font-size: 80%;
    text-align: center;
}
.img-right img { display: block; margin-bottom: .25em; }
.clear-all {clear: both;}
.warn { color: red; font-weight: bold; text-align: center; }
.center { text-align: center; }
.single, .single p { line-height: 1.25; }

/* hanging indents for references/citations */
#required-books p, #suggested-books p,*[id*='reading'] p, .ref p, *[id*='bibliography'] p, *[id*='texts'] p
{
    margin-bottom: 1em;
    margin-left: 2em;
    margin-bottom: .25em;
    text-indent: -2em;
    line-height: 1.5em;
}

*[id*='books'] img, *[id*='texts'] img
{
    max-width: 150px;
    max-height: 150px;
    display: block;
}


.figure
{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: .25em 0;
}
.figure svg, .figure img
{
    max-width: 100%;
}
.caption
{
    font-weight: bold; font-size: 80%;
}


#logo
{
    background-color: white;
    border-bottom: 1px solid #D3D3DE;
    color: #D3D3DE;
    font-family: monospace;
    height: 4em;
    left: 0;
    line-height: 1em;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    word-wrap: break-word;
}

#logo .inner
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    padding: 0 0.25em;
    position: absolute;
    right: 10px;
    top: 10px;
}

#logo h1 { text-transform: uppercase; font-size: 18px; }
#logo h2 { font-size: 100%; font-size: 14px; }
#logo a {text-transform: lowercase; font-size: 90%; }
#logo h1, #logo h2, #logo a
{
    color: #ab1c19;
    text-align: right;
    background-color: transparent;
    border-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    line-height: 1.25em;
}

#logo h2 { color: black; }

#class-sessions { counter-reset: week; }
#class-sessions h2:before 
{
    counter-increment: week;
    content: "Session " counter(week) ": " 
}

#class-sessions>section
{
    margin: 1em 0 0 0;
    padding: 0 2em;
}

#class-sessions > h2
{
    padding-left: -1em;
}



#TOC.affix, #TOC.affix-top, #TOC.affix-bottom
{
    position: fixed;
/*    top: 60px;
    width:280px;*/
}


#TOC .nav li.active .nav 
{
    display: block;
}



#TOC {
    margin-bottom: 20px;
    margin-top: 20px;
}
#TOC .nav > li > a {
    color: #999;
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 20px;
}
#TOC .nav > li > a:hover, #TOC .nav > li > a:focus {
    background-color: transparent;
    border-left: 1px solid #563d7c;
    color: #563d7c;
    padding-left: 19px;
    text-decoration: none;
}
#TOC .nav > .active > a, #TOC .nav > .active:hover > a, #TOC .nav > .active:focus > a {
    background-color: transparent;
    border-left: 2px solid #563d7c;
    color: #563d7c;
    font-weight: 700;
    padding-left: 18px;
}
#TOC .nav .nav {
    display: none;
    padding-bottom: 10px;
    line-height: 1.1em;
}
#TOC .nav .nav > li > a {
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-top: 1px;
}
#TOC .nav .nav > li > a:hover, #TOC .nav .nav > li > a:focus {
    padding-left: 29px;
}
#TOC .nav .nav > .active > a, #TOC .nav .nav > .active:hover > a, #TOC .nav .nav > .active:focus > a {
    font-weight: 500;
    padding-left: 28px;
}
















footer
{
    border-top: 2px dotted gray;
    margin-top: 1.5em;
}

@media print
{
    body
    {
        counter-reset: page 1;
        counter-reset: fig 0;
    }
    @page
    {
        size: 8.5in 11in;
        margin: 1in;
        counter-increment: page;
        orphans: 3;
        widows: 3;

        @top-right
        {
            font-family: "FreeSans", "Helvetica", sans-serif; 
            position: absolute;
            top: .25in;
            right: 1in;
            content: "Syllabus      | " counter(page) " of " counter(pages);
            font-size: 8pt;
            font-weight: bold;
        }
    }

    @page:first
    {
        @top-right { content: ''; }
    }

    .page-break {clear: both; page-break-before: always; }
}



</style>
