<!-- this css file gets inlined by the build script to make standalone html5 output
thats why it has a style tag... -->

<style type="text/css">
body
{
    background: url('sample.png') repeat white;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body, p, ul, ol, li, span, div
{
     font-family: "FreeSans", "Helvetica", sans-serif; 
}

h1,h2,h3,h4,h5 { font-family: Ubuntu, "Gotham", "Futura", "Century Gothic", sans-serif; }

h1{ font-size: 150%;  margin: 0px; margin-top: 2em;  text-transform: uppercase;}
h2{ font-size: 130%; margin:0; margin-top: 1em;}
h3{ font-size: 110%; font-weight: bold; }
h4{ font-size: 100%; font-weight: bold; }
h5 { padding: 0; margin: 0; font-size: 100%; font-style: italic; }

h1.title 
{
    margin:0;
    padding:0;
    padding-top: 80px;
    border-style: none;
    background-color: transparent;
    color: black;
    clear: both;
    font-size: 200%;
    font-weight: bold; 
}

h1.title, .rsa-red-text { color: #ab1c19; }
.rsa-red-bg { background-color: #ab1c19; }

dt:after { content: ":"; }
dd p {padding: 0; margin: 0; }
dt 
{
    font-weight: bold;
    clear: left;
    float: left;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
}




a { text-decoration: none; }
a img { border-style: none; }

table
{
    border-collapse:collapse;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th
{
    padding: 5px;
    border-top: 1px solid #ddd;
    line-height: 1.5;
    vertical-align: top;
}

th
{
    border-bottom: 2px solid #ddd;
    vertical-align: bottom;
}

tr.odd { background-color: #f9f9f9; }

p
{
    margin: .5em 0;
    line-height: 1.5em;
}

blockquote
{
    line-height: 120%;
    font-size: 90%;
    border-left: 3px solid gray;
    padding-left: 1em;
}

.img-right 
{
    float: right;
    background-color: #d3d3d3;
    padding: .25em;
    font-weight: bold;
    font-size: 80%;
    text-align: center;
}
.img-right img { display: block; margin-bottom: .25em; }
.clear-all {clear: both;}
.warn { color: red; font-weight: bold; text-align: center; }
.center { text-align: center; }
.single, .single p { line-height: 1.25; }

/* hanging indents for references/citations */
#required-books p, #suggested-books p,*[id*='reading'] p, .ref p, *[id*='bibliography'] p
{
    margin-bottom: 1em;
    margin-left: 2em;
    margin-bottom: .25em;
    text-indent: -2em;
    line-height: 1.5em;
}

*[id*='books'] img, *[id*='texts'] img
{
    max-width: 150px;
    max-height: 150px;
    display: block;
}


.figure
{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: .25em 0;
}
.figure svg, .figure img
{
    max-width: 100%;
}
.caption
{
    font-weight: bold; font-size: 80%;
}


@media screen
{
    body
    {
        font-size: 14px;
        width: 800px;
        margin: 0 auto;
    }
}

@media print
{
    body
    {
        font-size: 10pt;
        margin: 0;
        padding: 0;
        width: 100% !important;
        min-width: 100% !important;
        counter-reset: page 1;
        counter-reset: fig 0;
    }
    @page
    {
        size: 8.5in 11in;
        margin: 1in;
        counter-increment: page;
        orphans: 3;
        widows: 3;

        @top-right
        {
            font-family: "FreeSans", "Helvetica", sans-serif; 
            position: absolute;
            top: .25in;
            right: 1in;
            content: "Syllabus      | " counter(page) " of " counter(pages);
            font-size: 8pt;
            font-weight: bold;
        }
    }

    @page:first
    {
        @top-right { content: ''; }
    }



    a {color: black; !important }

    #required-books p a:link:after, #suggested-books p a:link:after, *[id*='reading'] p a:link:after, .ref p a:link:after, *[id*='bibliography'] p a:link:after, #required-books p a:link:after:visited, #suggested-books p a:link:after:visited, *[id*='reading'] p a:link:after:visited, .ref p a:link:after:visited, *[id*='bibliography'] p a:link:after:visited, 
     { content:" <" attr(href) "> "; }

    #TOC {display: none;}
    body
    {
        font-size: 10pt;
        width: 100%;
    }
    .page-break {clear: both; page-break-before: always; }
}

#logo
{
    background-color: white;
    border-bottom: 1px solid #D3D3DE;
    color: #D3D3DE;
    font-family: monospace;
    height: 4em;
    left: 0;
    line-height: 1em;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    word-wrap: break-word;
}

#logo .inner
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    padding: 0 0.25em;
    position: absolute;
    right: 10px;
    top: 10px;
}

#logo h1 { text-transform: uppercase; }
#logo h2 { font-size: 100%; }
#logo a {text-transform: lowercase; font-size: 90%; }
#logo h1, #logo h2, #logo a
{
    color: #ab1c19;
    text-align: right;
    background-color: transparent;
    border-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    line-height: 1.25em;
/*
    text-shadow: 2px 2px black;
*/
}

#logo h2 { color: black; }

#class-sessions { counter-reset: week; }
#class-sessions h2:before 
{
    counter-increment: week;
    content: "Session " counter(week) ": " 
}

#class-sessions h2
{
    margin-left: -1em;    
}


#class-sessions>section
{
    border: 1px solid black;
    margin: 1em 0 0 0;
    padding: 0 2em;
}


nav#TOC
{
    background: none repeat scroll 0 0 white;
    border: 1px solid black;
    counter-reset: toc;
    float: right;
    width: 40%;
    margin: 1.5em;   
}
#TOC > ul > li 
{ 
    list-style: upper-roman; 
    counter-increment: toc; 
    counter-reset: sub1;
}
/*#TOC>ul>li>ul>li:before { 
    content: counter(toc) "." counter(sub1) " ";
    counter-increment: toc; }*/
#TOC li ul li { list-style: decimal;}

#TOC ul li ul li ul { display: none; }

#TOC h3 { text-align: center; }

footer
{
    border-top: 2px dotted gray;
    margin-top: 1.5em;
}

</style>
