<style type="text/css">
pre.sourceCode
{
  width: 50%;
  padding: 1em;
}


#class-sessions { counter-reset: week; }
#class-sessions h2:before {
    counter-increment: week;
    content: "Week " counter(week) ": " 
}

#class-sessions h2
{
    margin-left: -1em;    
}

#class-sessions>section
{
    border: 1px solid black;
    margin: 1em 0 0 0;
    padding: 0 2em;
}

</style>
