<a href="{{site.baseurl}}/com-301/" 
   class="d-block text-center my-2 fw-bold  link-underline link-underline-opacity-0">COM 301 - Spring '24</a>

<div class="fw-bold">Professors</div>
<div class="ps-4">Dr. Drew</div>
<div class="ps-4">Dr. Uttamchandani</div>
<div class="ps-4">Dr. Curinga</div>

<div class="fw-bold">Class Meetings</div>
<div class="ps-4">Gallagher Lab (2<sup>nd</sup> Fl Lib)</div>
<div class="ps-4">MW 12-1:15pm</div>

<div class="fw-bold">Email / Phone:</div>
<div class="ps-4"><a href="mailto:jdrew@adelphi.edu">jdrew@adelphi.edu</a></div>
<div class="ps-4"><tel>516.877.4920</tel></div>

<div class="fw-bold">Office hours:</div>
<div class="ps-4">MW: 10:30-12:00 am</div>

<hr>
<strong>Course Links</strong>
<div class="d-flex flex-column align-items-end me-2">
    <a class="nav-link active d-block" href="week1.html">Week 1: Welcome</a>
    <a class="nav-link d-block" href="week2.html">Week 2: School Segregation</a>
    <a class="nav-link d-block" href="week3.html">Week 3: Segregation Cont'd</a>
    <a class="nav-link d-block" href="week4.html">Week 4: Political Representation</a>
    <a class="nav-link d-block" href="week5.html">Week 5: Representation Cont'd</a>
    <a class="nav-link d-block" href="week6.html">Week 6: More CSS & HTML</a>
    <a class="nav-link d-block" href="proposal.html">Week 7: Project Proposals</a>
    <a class="nav-link d-block disabled" href="week8.html">Week 8: Figma</a>
    <a class="nav-link d-block disabled" href="week9.html">Week 9: Spring Break</a>
    <a class="nav-link d-block" href="week10.html">Week 10: Mapping Shapes</a>
    <a class="nav-link d-block" href="week11.html">Week 11: Choropleths</a>
    <a class="nav-link d-block disabled" href="week12.html">Week 12: Studio</a>
    <a class="nav-link d-block" href="week13.html">Week 13: Map Layers</a>
    <a class="nav-link d-block" href="week14.html">Week 14: Draft Presentations</a>
    <a class="nav-link d-block" href="show.html">Week 15: Gallery Walk</a>
    <hr class="px-2 w-100">
    <a class="nav-link d-block" href="resources.html">Resources</a>
    <a class="nav-link d-block" href="syllabus.html">Syllabus</a>
    <a class="nav-link d-block" href="assignments.html">Assignments</a>
    <a class="nav-link d-block" href="index.html">About</a>
</div>
