<div class="mt-4 p-3 bg-light border border-2">
<h3>Adelphi University Services, Policies, and Regulations</h3>
<h5>Student Access Office and Disability Accommodation</h5>
<p>
If you have a disability that may significantly impact your ability to carry out assigned coursework, please contact the
Student Access Office (SAO) at 516-877-3806 or send an email to sao@adelphi.edu. The staff will review your concerns and
determine, with you, appropriate and necessary accommodations. Please allow for a reasonable time frame for requesting
ASL Interpreters or Transcription Services. Because of the additional challenges of instruction during the pandemic, it
is especially helpful for the instructor to be aware of students’ need for accommodations.
</p>
<p>
Reasonable accommodations are available in online classes for students with a documented disability. Please note that
due to the nature of online courses, some accommodations approved for on-campus classes may not apply. If you have a
disability that may significantly impact your ability to carry out assigned coursework, please contact the Student
Access Office (SAO) at 516-877-3806 or send an email to sao@adelphi.edu. We will review your request and determine with
you appropriate and necessary accommodations. Please allow for a reasonable time frame for requesting ASL Interpreters
or Transcription Services.
</p>
<h5>Student Counseling Center (SCC)</h5>
<p>
The Student Counseling Center (SCC) provides confidential and professional virtual mental health counseling services,
resources, and referrals to support the academic and personal success, health, and well-being of Adelphi students
without additional charge. Especially with the additional stress resulting from the Covid-19 pandemic, students are
encouraged to seek support from the SCC when needed. Counselors are available to help students cope with a variety of
stressors and personal issues that may interfere with their academic and personal experiences. The Center also supports
students who may be feeling suicidal or in crisis. To schedule an appointment, please call (516) 877-3646, email
scc@adelphi.edu . If you need immediate assistance, walk-in services are available during the fall and spring semesters
Monday-Friday 9am-5:00pm. Additional information can also be found by visiting https://scc.adelphi.edu.
</p>

<p>Need support when the SCC is not available? For 24/7 emergency counseling, referral, or assistance, please contact:</p>
<ul>
    <li>Long Island Crisis Center (516) 679-1111</li>
    <li>National Suicide Prevention Lifeline (800) 273-TALK (8255)</li>
    <li>Crisis Text Line: Text PAWS to 741741</li>
    <li>Adelphi Office of Public Safety:</li>
    <li>Off campus: (516) 877-3511</li>
    <li>On campus: Extension 5 on any campus phone</li>
    <li>911 (for immediate health-related emergency)</li>
</ul>

<h5>The Center for Academic Support and Enrichment (CASE; formerly The Learning and Writing Centers)</h5>

<a href="https://www.adelphi.edu/case/">https://www.adelphi.edu/case/</a><br>
case@adelphi.edu (516) 877-3200 Nexus 132<br>
<p>
CASE programs and services--like individual tutoring in writing and subjects across the
curriculum, small group study sessions, academic coaching, and targeted workshops--help
students explore, deepen, and extend their classroom learning. Support programming focuses
on establishing foundational skills and techniques of studentship, like time management and
note-taking. Enrichment services develop higher-order critical thinking skills and problem solving
skills inherent in both abstractions and applications of curricular study.
</p>
<p>
Contact us as CASE@adelphi.edu at ext. 3200, or via our eCampus tab, to review our full slate of real-time (in person
and remote) and asynchronous services. These are included in your tuition so you’ve already bought them! Don’t miss out
on the opportunity to supercharge your college experience! Many services require reservations, especially late in the
semester. Reserve a spot on our scheduling portal, and/or join the self-directed virtual CASE LAB. Get on the CASE, and
take your Adelphi experience to the next level.
</p>
<h5>The Adelphi Honor Code</h5>
<p>
The University is an academic community devoted to the pursuit of knowledge. Fundamental to this pursuit is academic
integrity. In joining the Adelphi community I accept the University’s Statement of Academic Integrity and pledge to
uphold the principles of honesty and civility embodied in it. I will conduct myself in accordance with ideals of truth
and honesty and I will forthrightly oppose actions which would violate these ideals.
</p>
<h5>Code of Academic Honesty</h5>
The Code of Academic Honesty prohibits behavior that can broadly be described as lying, cheating, or stealing.
Violations of the Code of Academic Honesty will include, but not be limited to, the following:
<ol>
    <li>Fabricating data or citations</li>
    <li>Collaborating in areas not approved by the professor</li>
    <li>Unauthorized multiple submission of one’s own work</li>
    <li>Sabotage of others’ work, including library vandalism or manipulation</li>
    <li>Plagiarism</li>
    <li>The creation of unfair advantage</li>
    <li>The facilitation of dishonesty</li>
    <li>Tampering with or falsifying records</li>
    <li>Cheating</li>
    <li>Other forms of academic dishonesty</li>
</ol>
<p>
Copying and pasting from any source into your assignments or exams without quotation marks, citations and references,
constitutes plagiarism. Students are expected to produce and submit original work and to cite all sources appropriately.
Unauthorized collaboration on any work, or the presentation of someone else’s work as your own, is plagiarism. Content
generated by an Artificial Intelligence third-party service or site (AI-generated content, e.g. ChatGPT) without
attribution or authorization is also a form of plagiarism. Unless explicitly stated, artificial intelligence-based
technologies, such as ChatGPT or word mixing software, cannot be used to generate responses (partial or otherwise) for
student assignments or exams.
</p>
<p>
If you are unsure about what plagiarism or another form of academic dishonesty are, please reach out to me to discuss it
as soon as possible. An allegation of an academic integrity violation of this section may be referred for further review
and could result in disciplinary action. 
<a href="https://www.adelphi.edu/conduct/academic-dishonesty/">https://www.adelphi.edu/conduct/academic-dishonesty/</a>
</p>

<h5>Student course evaluations</h5>
<p>
During the last two weeks of the class, you will receive notification, via email and eCampus, that the course evaluation
is available for your input electronically. Your feedback is valuable and students are strongly encouraged to respond.
Please be assured that your responses are anonymous and the results will not be available to the instructor until after
course grades have been submitted after the semester ends.
</p>
<h5>Religious observance policy</h5>
<p>
Adelphi University welcomes diversity in its community, and respects various religious observances. Students who
anticipate being absent, due to their religious observance, are required by Adelphi University to notify their
professors at the start of the semester. This will allow the faculty to take these observances into consideration in
light of their course exam and assignment schedules. Students absent from class, clinical experiences, practice, labs,
etc. on those days, after prior notice to the professor, will not be penalized for any exam or assignment deadline
missed because of those absences. Students must contact the instructor to work out suitable arrangements for make-ups or
other satisfaction of academic requirements.
</p>


<h5>COVID-19 Policies</h5>
<p>
The policy for this class is mask optional.
</p>
</div>