---
layout: base
---
{% if page.css %}
<link href="{{site.baseurl}}/{{page.css}}" rel="stylesheet">
{% else %}
<link href="{{site.baseurl}}/css/bold.css" rel="stylesheet">
{% endif %}
<style>
  .LeftTitle {
    background-image: url('{{site.baseurl}}/img/{{ page.title_img }}');
  }
</style>


{% include top-nav.html %}
<section class="container-fluid row">
<div class="col-md-2 gold">
  <img src="{{site.baseurl}}/img/au-brown.svg" alt="adelphi university" class="d-block img-fluid py-2">
  <div class="LeftTitle"></div>
</div>
<div class="MainContent col-md-5">
  {{ content }}
</div>
</section>
{% include footer.html %}
