---
layout: base
---
<link href="{{baseurl}}/css/bold.css" rel="stylesheet">
<style>
  .LeftTitle {
    background-image: url('{{baseurl}}/img/{{ page.title_img }}');
  }
</style>


{% include top-nav.html %}
<section class="container-fluid row">
<div class="col-md-2 gold">
  <img src="{{baseurl}}/img/au-brown.svg" alt="adelphi university" class="d-block img-fluid py-2">
  <div class="LeftTitle"></div>
</div>
<div class="MainContent col-md-5">
  {{ content }}
</div>
</section>
{% include footer.html %}
