---
layout: base
---

<link href="{{site.baseurl}}/css/bold.css" rel="stylesheet">
<main class="">
  <div class="container-fluid row h-100">
    <div class="col-md-2 gold" style="max-width: 300px;">
      <img src="{{site.baseurl}}/img/au-brown.svg" alt="adelphi university" class="d-block img-fluid py-2">
    

      <nav class="navbar-expand-md">
        <button class="btn btn-secondary d-block d-md-none ms-auto" type="button" data-bs-toggle="collapse"
          data-bs-target="#classInfo" aria-controls="classInfo" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-list"></i>
        </button>
        
        <div id="classInfo" class="collapse d-md-block">
          {% if page.sidenav %}
            {% assign sidenav = page.sidenav %}
            {% include {{sidenav}} %}
          {% endif %}

        </div>

      </nav>
    
    <div class="MainContent col-md-5">
        {{ content }}
    </div>
  </div>
</main>

{% include footer.html %}