---
layout: base
---
<style>
:root {
    --blue-purple: linear-gradient(158deg, rgba(99, 62, 128, .5) 18.75%, 
                  rgb(0, 111, 203) 56.25%, 
                  rgba(245, 193, 241, 0.57) 79.6875%);
}

body {
    background-image: var(--blue-purple);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


.hex1 {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/grid.png");
  background-repeat: repeat;
}

.hex2 {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/grid.png");
  background-repeat: repeat;
  background-position-x: -10px;
  background-position-y: 17px;
}



.nav-link {
    font-weight: bold;

}
.StoryGame {
    background-image: url("img/doki.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    padding: 1em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.Design {
    background-color: rgba(255, 255, 255, 0.75);
    position: relative;
    z-index: 10;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1600px;
    padding: 0;
    border-radius: 16px;
}

.PageTitle {
    font-size: 64px;
    font-weight: 900;

}

img.header {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    max-width: 100%;
    display: block;
}


.wide-container {
    max-width: 1600px;
    margin: 0 auto;
}

.text-container {
    max-width: 720px;
}

</style>

<div class="hex1"></div>
<div class="hex2"></div>
{% include top-nav.html %}
<main class="Design container-fluid mx-auto mt-2">
    <img src="{{site.url}}/{{page.header-img}}" alt="{{page.header-img-alt}}" class="header">
    <div class="p-4">{{content}}</div>
    {% if page.syllabus_footer %}
    <hr>
    <div class="container mx-auto mt-4 pt-4">
        {% md %}
            {% include syllabus-legal.md %}
        {% endmd %}
    </div>
    {% endif %}
</main>
{% include footer.html %}
