body {
    /* background-image: url("../img/blue-gradient.svg");
    background-repeat: repeat;
    background-size: cover; */
    background-color: #afc6e9;
}
a {
    text-decoration: none;
}
h1 {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 2em
}
h3 {
    font-size: 1.25rem;
}

.SideNav {
    background-color: #213A6A;
}

.table-striped th {
    background-color: #213A6A;
    color: white
}

.table-striped>tbody>tr:nth-of-type(2n+1)>* {
    background-color: #e5d5ff;
}
.table-striped>tbody>tr>* {
    background-color: #afc6e9;

}

.maker-img {
    max-width: 100%;
    width: 350px;
    margin: 1em;
}