@font-face {
    font-family: 'Graphik';
    src: url('Graphik/GraphikRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik/GraphikRegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik/GraphikBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik/GraphikBoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

body, .font-sans-serif {
    font-family: 'Graphik', sans-serif; 
}

blockquote {
    max-width: 576px;
}

.gold {
    background-color: #ffb337;
}


.HomeLink { 
    line-height: 1; 
    font-size: 32px;
    font-weight: 900;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
.toc-link {
    text-decoration: none;
}

.apa p {
    line-height: 1.25em;
    padding: .25em 0;
    margin: 0;
    margin-left: 2em;
    text-indent: -2em;
}

